/* styles.css */

/* Common styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button.generate-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.certificate-image {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
}

.preview-container {
  text-align: center;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.jumbotron {
  background-color: #f9f9f9;
  padding: 50px;
  text-align: center;
}

.jumbotron h1 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #333;
}

.jumbotron p {
  font-size: 18px;
  color: #777;
}
